**/*.log
**/.DS_Store
.git
.vscode/settings.json
.history
.yarn
.yarnrc.yml
pnpm-lock.yaml
.mf
dist
dist-dev
etc
external
node_modules
target
output
build
.cache
.rollup.cache
tsconfig.tsbuildinfo
.svelte-kit
.md
coverage
pnpm-workspace.yaml